* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}
.main-menu, .dropdown-content {
    list-style-type: none;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #333;
}
.main-menu > li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    max-height: 5vh;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 15px 20px;
        text-decoration: none;
        color: white;
        img {
            max-height: 20px;
            max-width: 20px;
        }
        &:hover {
            background-color: #333;
        }
    }
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #555;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
