* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}
.main-menu, .dropdown-content {
    list-style-type: none;
}
.main-menu {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #333;
}
.main-menu > li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    max-height: 5vh;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 2vh;
        text-decoration: none;
        color: white;
        transition: transform 0.2s ease-in-out;
        img {
            max-height: 20px;
            max-width: 20px;
        }
    }
    a:hover {
        background-color: #555;
        transform: scale(1.1);
    }
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #333;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vh;
    margin: auto;
    & .container-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1vh;
        & .container-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            & img{
                max-height: 10vh;
                max-width: 10vh;
                min-width: 10vh;
                min-height: 10vh;
                margin-right: 1vh;
                transition: transform 0.5s ease-in-out;
                &:hover{
                    box-shadow: #333 5px 5px;
                    transform: scale(1.1);
                }
            }
        }
    }

}

